#img{
    background-color:aquamarine;
    padding:10px;
    margin: 10px;
    display: block;

    
}
*{
    text-align:center;
    background-color: blueviolet;
    
}
.avpl{
    background-color: coral;
    padding: 50px;
    width:600px;
    margin-left:250px;
    border:solid;
    
}

.julayi{
    background-color: chartreuse;
    padding:50px;
    width:600px;
    margin-left:250px;
    border:solid;
}
.Sarrainodu{
    background-color: rgb(98, 184, 44);
    padding: 50px;
    width:600px;
    margin-left:250px;
    border:solid;

}
.badrinath{
    background-color: rgba(178, 47, 0, 0.589);
    padding: 50px;
    width:600px;
    margin-left:250px;
    border:solid;
}
.pushpa2{
    background-color: rgba(255, 127, 80, 0.938);
    padding: 50px;
    width:600px;
    margin-left:250px;
    border:solid;
}